<tui-card class="trends-container">
  <tui-card-header class="trends-header" [headerBottomLine]="true">
    Trends for you
  </tui-card-header>
  <mat-card-content class="trends-content">
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <h3 class="card-title">#programming</h3>
          <p class="card-subtitle">213k Tweets</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <h3 class="card-title">#devChallengeds</h3>
          <p class="card-subtitle">213k Tweets</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <h3 class="card-title">#frontend</h3>
          <p class="card-subtitle">213k Tweets</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <h3 class="card-title">#helsinki</h3>
          <p class="card-subtitle">213k Tweets</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <h3 class="card-title">#100DaysOfCode</h3>
          <p class="card-subtitle">213k Tweets</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <h3 class="card-title">#learnToCode</h3>
          <p class="card-subtitle">213k Tweets</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</tui-card>
