<tweeter-tweet-card>
  <tui-tweet-card-header
    [title]="'Peyton Lyons'"
    [subtitle]="'24 August at 20:43'"
  ></tui-tweet-card-header>
  <tweeter-tweet-card-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="text-container">
        Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis,
        vehicula ac nisi. Paisis, filhis, espiritis santis. Cevadis im ampola pa
        arma uma pindureta. A ordem dos tratores não altera o pão duris.
      </div>
      <div class="tweet-image">
        <img
          src="https://www.cnet.com/a/img/wr9LIsKHBBffQepa7AMHMMqMEl4=/1200x675/2019/10/09/c4f49e5f-459e-4c9f-bfc9-9e4e9d6256d5/nikon-z50-10.jpg"
          class="tweet-image"
        />
      </div>
    </div>
  </tweeter-tweet-card-content>
  <tui-tweet-card-footer></tui-tweet-card-footer>
</tweeter-tweet-card>
