<tui-card class="bio-card">
  <tui-card-content>
    <div></div>
    <div class="bio-avatar">
      <img
        src="https://pbs.twimg.com/profile_images/1382810618223329280/n4Lyj6Jz_400x400.jpg"
      />
    </div>
    <div fxLayout="row wrap" class="bio-content">
      <div fxFlex="100">
        <h3 class="bio-title">Daniel Jensen</h3>
        <span class="bio-info"><b>2,569</b> Following</span>
        <span class="bio-info"><b>10,800</b> Followers</span>
        <div fxFlex></div>
        <button mat-flat-button color="primary">
          <mat-icon>person_add</mat-icon>
          Follow
        </button>
      </div>
      <div fxFlex="100">
        <h3>Software Enginner at Clubpetro</h3>
      </div>
    </div>
  </tui-card-content>
</tui-card>
