.feed-container {
  width: 1200px;
  margin: 0 auto;

  .tweets-container {
    min-width: 300px;
    max-width: 800px;
    margin-right: 32px;

    .create-tweet-container {
      padding-bottom: 32px;
    }
  }

  .trends-container {
    width: 300px;
  }
}
