<tui-card>
  <tui-card-header class="create-tweet-header" [headerBottomLine]="true">
    Tweet something
  </tui-card-header>
  <mat-card-content class="create-tweet-content">
    <div fxLayout="row">
      <div>
        <img
          src="https://pbs.twimg.com/profile_images/1382810618223329280/n4Lyj6Jz_400x400.jpg"
          class="default-avatar"
        />
      </div>
      <div class="tweet-description-container" fxFlex>
        <mat-form-field fxFlex appearance="fill">
          <mat-label>What's happening?</mat-label>
          <textarea matInput rows="3"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <tui-card-footer>
    <div fxLayout="row">
      <div fxFlex></div>
      <button mat-flat-button color="primary">Tweet</button>
    </div>
  </tui-card-footer>
</tui-card>
